body {
    background-color: #272c27; 
  }
  h1{
      font-size: 100px;
      font-family: fantasy;
      font-weight: 40; 
      margin-top: 100px;
      margin-left: 100px; 
      color: #eaeeeb;
  }
  img{
      z-index: -1;
      margin-left: 750px; 
      width: 500px;
      position: absolute;
  }
  div{
      font-size: 20px;
      font-family: Monospace, Courier New;
      font-weight: bold; 
      margin-left: 110px; 
      color: #eaeeeb;
  }

  #opener{
    width: 600px;
    text-wrap: wrap;
  }
  #education {
    margin-left: 200px;
    margin-top: 500px;
  }

  #experience {
    margin-left: 200px;
  }

  #projects {
    margin-left: 200px;
  }

  #skills {
    margin-left: 200px;
  }

  #eduLink {
    margin-left: 400px;
  }
  #eduLink a:hover{
    background-color: #eaeeeb;
  }

  #expLink{
    margin-left: 400px;
  }
  #expLink a:hover{
    background-color: #eaeeeb;
  }

  #proLink{
    margin-left: 400px;
  }
  #proLink a:hover{
    background-color: #eaeeeb;
  }

  #skiLink{
    margin-left: 400px;
  }
  #skiLink a:hover{
    background-color: #eaeeeb;
  }

  #footer {
    margin-top: 150px;
  }

  a {
    color: cadetblue;
  }
  
  